<h2><%= t("users.user.account_edit") %></h2>

<div class="col-lg-4">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: {turbo: false}) do |f| %>
    <%= render partial: "partials/form_errors", resource: resource %>

    <div class="field form-group mt-3">
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field form-group mt-3">
      <%= f.label :password, class: "form-label" %>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> <%= t("users.user.characters_minimum") %></em>
      <% end %>
      <i>(<%= t("users.user.leave_blank_if_not_needed") %>)</i>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="field form-group mt-3">
      <%= f.label :password_confirmation, class: "form-label" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="field form-group mt-3">
      <%= f.label :current_password, class: "form-label" %>
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
    </div>

    <div class="actions mt-3">
      <%= f.submit t("actions.update"), class: "btn btn-primary w-100" %>
    </div>
  <% end %>

  <%= button_to t("users.user.destroy"), registration_path(resource_name), method: :delete,
    form: {data: {turbo_confirm: t(".delete_account_confirmitation") }}, class: "btn btn-danger mt-3 w-100" %>

  <%= link_to t("actions.back"), :back %>
</div>
