<% user = comment.user %>

<div class="d-flex flex-start mt-4">
  <%= link_to user_path(user), class: "me-3" do %>
    <%= image_tag user_avatar(user), width: "65px", height: "65px", class: "rounded-circle" %>
  <% end %>

  <div class="flex-grow-1 flex-shrink-1">
    <div>
      <div class="d-flex justify-content-between align-items-center">

          <div>
            <%= user.name %>
            <span class="small"><%= l comment.created_at, format: :short %></span>
          </div>

          <% if current_user_can_edit?(comment) %>
            <%= button_to event_comment_path(comment.event, comment), 
              method: :delete,
              title: t("comments.comment.destroy"),
              class: "btn btn-danger",
              form: {data: {confirm: t(".destroy_confirm"), class: "flex-end"}} do %>
                <i class="fa-solid fa-xmark"></i>
            <% end %>
          <% end %>

      </div>
      <p class="mb-0">
        <%= comment.body %>
      </p>
    </div>
  </div>
</div>
