<div class="d-flex flex-start mt-4 mb-4">  
  <%= image_tag user_avatar(@user), width: "140", height: "140", class: "rounded-circle me-3" %>

  <div>
    <h2 class="mt-1">
      <%= @user.name %>
    </h2>

    <% if @user == current_user %>
      <%= link_to t("users.user.edit"), edit_user_path(@user) %>        
    <% end %>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-12">
    <% if @user.events.any? %>
      <h2><%= t("activerecord.attributes.user.events") %></h2>
      <div class="row mt-4">
        <%= render partial: "events/event", collection: @user.events  %>
      </div>
    <% else %>
      <p><%= t("activerecord.attributes.user.events_empty_state") %></p>
    <% end %>
  </div>
</div>
