<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <%= image_tag event_img(event), class: "img-fluid rounded-start", alt: "Event image" %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= event.title %></h5>
        <p class="card-text"><%= event.description %></p>
        <%= link_to "https://yandex.ru/maps?text=#{event.address}" do %>
          <i class="fa-solid fa-location-dot"></i>
          <%= event.address %>
        <% end %>
        <p class="card-text"><small class="text-muted"><%= l event.datetime, format: :short %></small></p>
      </div>
    </div>
  </div>
</div>
