<%= form_with(model: event) do |form| %>
  <%= render partial: "partials/form_errors", locals: {resource: event} %>

  <div>
    <div class="form-group">
      <%= form.label :title, class: "form-label" %>
      <%= form.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group mt-3">
      <%= form.label :description, class: "form-label" %>
      <%= form.text_field :description, class: "form-control" %>
    </div>

    <div class="form-group mt-3">
      <%= form.label :address, class: "form-label" %>
      <%= form.text_field :address, class: "form-control" %>
    </div>

    <div class="form-group mt-3">
      <%= form.label :datetime, class: "form-label" %> <br>
      <%= form.datetime_select :datetime, {}, {class: "d-inline form-select w-fc"} %>
    </div>

    <div class="form-group mt-3">
      <%= form.label :pincode, class: "form-label" %>
      <%= form.text_field :pincode, class: "form-control" %>
    </div>

    <%= form.submit class: "btn btn-primary mt-3" %>
  </div>
<% end %>
