<h1><%= I18n.t("pages.models.event.editing") %></h1>

<%= render "form", event: @event %>

<%= button_to I18n.t("actions.destroy"), @event, method: :delete, class: "btn btn-danger mt-3" %>
<br>

<div>
  <%= link_to "Show this event", @event %> |
  <%= link_to "Back to events", events_path %>
</div>
