<div class="col-lg-3">
  <div class="card mb-3">
    <%= link_to url_for(photo.photo),
      data: {lightbox: "event-photo", title: render(partial: "users/user", object: photo.user)} do %>
        <div class="photo-img-box">
          <%= image_tag photo.photo, class: "card-img-top bg-img" %>
        </div>
    <% end %>

    <div class="card-body">
      <div class="d-flex flex-start align-items-center">
      <%= link_to user_path(photo.user), class: "me-2" do %>
        <%= image_tag user_avatar_thumb(photo.user), width: "40", height: "40", class: "rounded-circle" %>
      <% end %>

      <div class="text-center">
        <%= link_to photo.user.name, user_path(photo.user) %>
      </div>
    </div>
    </div>
  </div>
</div>
