<h1><%= t ".title" %> <%= @subscription.event.title %></h1>

<p>
  <%= t("activerecord.models.event.one").capitalize %>:
  <%= link_to @subscription.event.title, event_url(@subscription.event) %>
</p>

<p><%= link_to @subscription.user_name, "mail_to: #{@subscription.user_email}" %></p>
